.wrapper{
    display: flex; 
    padding-left: 1rem;
    padding-right: 1rem; 
    /* padding-top: 2.5rem; */
    /* padding-bottom: 2.5rem;  */
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    background-color: var(--bg-color); 
    /* background-color: #314670; */
}

.container{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.container>h3{
    margin-top: 0.5rem; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 600; 
    color: var(--text-color); 
}

@media (min-width: 640px) {
    .wrapper{
        padding-left: 1.5rem;
        padding-right: 1.5rem; 
    }
}

@media (min-width: 1024px) {
    .wrapper{
        padding-left: 2rem;
        padding-right: 2rem; 
    }
}